body{
    background-color: #ff6c03d7;
    color: #000000;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

h1{
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}

img{
    display: block;
    margin: 0 auto;
    width: 400px;
    height: auto;
    border-radius: 15px;
}


.d-block w-100{
    border-radius: 15px;
}


.imgs{
    width: 350px;
}