h2{
    color: #ffffff;
    width: 3000px;
}

#div3{
    background-color:aquamarine;
    width: 100px;
}

#div1{
    width: 2000px;
    color: #b4f046;
    text-align: start;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    margin: auto;   
    margin-right: 1500px; /* Agrega esta línea para separarlo de div2 */
}

#div2{

    width: 2000px;
}

#div4{
    border-radius: 100px;
}

.fondodesección{
    background-color: aqua;
}

body{
    background: linear-gradient(#0b1497,#960dc8);
}

.imag{
    border: 8px solid #000000;
    width: 250px;
    height: 150px;
    border-radius: 100px;
    margin: 5px;
}

p{
    margin: 25px;
    color: #ffffff;
}


footer{
    color: rgb(48, 8, 228);
}

a{
    color: #ffffff;
}

.lugar{
    margin: 25px;
    width: 50px;
    background-color: #0b1497;

}

h3{
    color: green;
}


.agrupacion{
    display: flex;
}
.h3{
    margin: 25px;
    color: rgb(64, 240, 137);
}

.p1{
    width: 485px;
    color: #ffffff;
}